<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>아이디 찾기</h4>
        </div>
    </div>
    <form th:action="@{/user/find_id}" th:object="${userFindIdForm}" method="POST">
        <div th:replace="form_errors :: formErrorsFragment"></div>    
         <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" placeholder="date@date.com" th:field="*{email}" class="form-control">
        </div> 
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" placeholder="이름을 입력해주세요" th:field="*{name}" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">아이디 찾기</button>
    </form>
</div>
</html>